/* MovieGrid.css */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Definir 5 columnas */
    gap: 16px;
  }
  
  .movie-card {
    /* Estilos para cada tarjeta de película */
  }